# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Data and Outputs
data/
output/
debug/
logs/
*.onnx
*.pt

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Sensitive JSONs and Har files
*.har
*_raw.json
test_summary.json